@model IEnumerable<MyPortfolio.DAL.Entities.Project>


@{
    Layout = null;
}

<section class="section" id="service">
    <div class="container text-center">

        <h6 class="section-title mb-6">Projelerim</h6>
        <!-- row -->
        <div class="row">
            @foreach (var project in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="~/meyawo-1.0.0/assets/imgs/responsive.svg"
                                 alt="Project"
                                 class="icon">
                            <h6 class="title">@project.Title</h6>
                            <p class="subtitle">@project.ProjectDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div><!-- end of row -->
        <br />
        <a href="https://github.com/iremSahinli" target="_blank"><button class="btn-rounded btn btn-outline-success mt-4">Github'ıma git.</button></a>
    </div>
</section><!-- end of service section -->


