@* @model myportfolio.dal.entities.feature



<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h3 class="header-title">
            <span class="up"></span>
            <p class="header-subtitle"></p>
        </h3>
       @*  <a href="https://github.com/iremsahinli" target="_blank"><button class="btn btn-primary">my github</button></a>
        <a href="https://www.linkedin.com/in/oğuz-irem-şahinli-b66a3b274/" target="_blank"><button class="btn btn-primary">my linkedın</button></a> *@
  @*   </div>


</header>  *@