@model MyPortfolio.DAL.Entities.About

<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="~/meyawo-1.0.0/assets/imgs/Ben.png" class="about-img"
                     alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="about-caption">
                <p class="section-subtitle"><strong>@Model.Title</strong></p>
                <h5 class="section-title mb-3">Full-Stack .NET Developer</h5>
                <p>@Model.SubDescription</p>
                    
                
                <button class="btn-rounded btn btn-outline-success mt-4">Download CV</button>
                <a href="https://github.com/iremSahinli" target="_blank"><button class="btn-rounded btn btn-outline-success mt-4">Github</button></a>
                <a href="https://www.linkedin.com/in/oğuz-irem-şahinli-b66a3b274/" target="_blank"><button class="btn-rounded btn btn-outline-success mt-4">Linkedin</button></a>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about section -->
